<img src="pic/getCustomerCouponsByPrice.jpg"><br><br>

<!-- Retrieving the constraint from the client -->
<form style="margin-left:2%; margin-top:1%" >
<h3>Get Customer's Coupons up to <input type="number" min="0" ng-model="gccbp.price" placeholder="Coupon Max Price" ng-change="gccbp.getCustomerCouponsByPrice()"/> $</h3>
</form>
<hr/>

<!-- Presenting data according to the constraint -->
<div style="margin-left:2%" ng-if="gccbp.coupons.length==0 && gccbp.price!=''">
    <h3  style="margin-left:2%">No coupons were found !</h3>
</div>
<div class="w3-responsive" ng-if="gccbp.coupons.length>0">
    <table class="w3-table-all" style="margin-left:2%" align="left">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>AMOUNT</th>
            <th>TYPE</th>
            <th>MESSAGE</th>
            <th>PRICE</th>
            <th>IMAGE</th>
        </tr>

        <tr ng-repeat="c in gccbp.coupons">
            <td>{{c.couponId}}</td>
            <td>{{c.title}}</td>
            <td>{{c.startDate|date}}</td>
            <td>{{c.endDate|date}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.type}}</td>
            <td>{{c.message}}</td>
            <td>{{c.price}}</td>
            <td><img ng-src="{{c.image}}" alt="Coupon Image" style="width:20%"></td>
        </tr>
    </table>
</div>