/* basic menu styles */

body {
    font-size: 100%;
}

.block-menu {
	display: block;
	background: white;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 16px;
	padding: 15px 10px;
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/* 
	put the "front" and "back" elements into place with CSS transforms, 
	specifically translation and translatez
*/
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #ff9900;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
}

.flip {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.pointer-cursor{
	cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.flip:hover .overlay {
  opacity: 1;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text2{
	color:blue;
}
.text3{
	color:blue;
	 text-align: center;
	 letter-spacing: 3px;
	 font-size: 3.0em;
}
.text4{
	color:white;
	 text-align: center;
	 font-size: 1.8em;
	 	 font-weight: bold;
	 	 
	 
}
.CSAnimation {
      width: 100px;
    height: 100px;
	line-height: 100px;
	 text-align: center;
	 letter-spacing: 3px;
	 font-size: 2.0em;
	 font-weight: bold;
    background-color: red;
    position: relative;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: sale;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    /* Standard syntax */
    animation-name: sale;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes sale {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:400px; top:0px;}
    75%  {background-color:green; left:200px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes sale {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:400px; top:0px;}
    75%  {background-color:green; left:200px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
}

    #paperBackround  {
    background-image: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 15px;
	
}


    #borderImg { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(border.png) 30 stretch;
}

#borderImg2 { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border2.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(border2.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(border2.png) 30 stretch;
}

.loginModal{
 background-color:pink;
  color:blue;
  text-align: center;
}
.loAnimation {
    width: 120px;
    height: 120px;
    background-color: red;
    position: relative;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: logoutAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: logoutAnimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logoutAnimation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:400px; top:0px;}
    50%  {background-color:blue; left:400px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes logoutAnimation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:400px; top:0px;}
    50%  {background-color:blue; left:400px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

.magnify {width: 100% position: relative; margin: 0; padding: 0;}

/*Creating the magnifying glass*/
.large {
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;
	
	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
	/*Lets load up the large image first*/
	background: url(pic/magglass.jpg) no-repeat;
	
	/*hide the glass by default*/
	display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; }

